SOFTWARE REQUIREMENTS
===============================================================================

1. Operating Systems
-------------------------------------------------------------------------------
DotNetBrowser runs on the following Windows platforms, both 32- and 64-bit:

Windows 10
Windows 8 & 8.1
Windows 7
Windows Server 2008
Windows Server 2012


2. Microsoft Visual Studio
-------------------------------------------------------------------------------
2013
2015


HARDWARE REQUIREMENTS
===============================================================================

Intel Pentium 4 or later, 512 MB RAM minimum, 350 MB Hard Disk Space.

HiDPI Monitors & Retina
-------------------------------------------------------------------------------
DotNetBrowser supports HiDPI monitors on Windows.

ARM
-------------------------------------------------------------------------------
DotNetBrowser doesn't support ARM architecture right now.