<div class="conteudo1 conteudo portlet" id="cardEnquete" ondrag="">
	<h1 class="portlet-header" style=""><i class="small material-icons" style="">access_time</i> Enquetes</h1>
	<div class="portlet-content" style="">
		<div class="icon">
			<i class="large material-icons">access_time</i>
		</div>
		<div>
			responsavel
			data e hora
			porteiro
		</div>
	</div>
</div>
