<div class="conteudo2 conteudo portlet" >
	<h1 class="portlet-header" ><i class="small material-icons" >event_note</i> Acontecimento</h1>
	<div class="portlet-content" style="">
		<div class="icon">
			<i class="large material-icons">event_note</i>
		</div>
		<div>
			responsavel
			data e hora
			porteiro
		</div>
	</div>
</div>